#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 300px;
  padding: 5px 0em;
  background-color: #c8deef;
  position: sticky;
  top: 0;
  align-self: start;
}

#sidebar ul {
  list-style: none;
}

#sidebar ul li.active a {
  color: #006ec4;
}

#sidebar ul li.active a svg {
  fill: #006ec4;
}

#sidebar a,
#sidebar .dropdown-btn { 
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}


#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

/* Oculta o submenu inicialmente */
.sub-menu {
    display: none;
    padding-left: 1.5em;
    transition: all 0.3s ease;

}

.sub-menu li {
    padding: 0.5em 0;
}

.sub-menu li a {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

/* Estilo quando aberto */
.dropdown.open .sub-menu {
    display: block;
}

/* Estilo do botão principal */
.dropdown-btn {
    width: 100%;
    background: none;
    border: none;
    padding: .85em;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;   
    text-align: left;

    justify-content: space-between;

    
}

#sidebar .logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1em;
  padding: 1em 0.5em 1em 0;
  justify-content: flex-start;
}

.logo-img {
    max-width: 70px;
    height: auto;
    object-fit: contain;
    display: block;
}

#sidebar .logo-text{
  font-weight: 600;
  font-size: x-large;
  color: var(--text-clr);
  text-decoration: nowrap;
}
